dconf/
gtk-3.0/
Kvantum/
nautilus/
nwg-look/
qt5ct/
qt6ct/
systemd/
user-dirs.dirs
user-dirs.locale
xsettingsd/
yay/
pulse/
discord/
Discord/
Vencord/
vlc/
qBittorrent/
QtProject.conf
Electron/
hyfetch.json
neofetch/
mandarine-emu/
mimeapps.list
chromium/
VSCodium/
spicetify/
spotify/
PCSX2/
Mousepad/
mpv/
Ryujinx/
menus/
onthespot/
vesktop/
microsoft-edge/
azahar-emu/
melonDS/
atril/
obs-studio/
Meltytech/
jamesdsp/
speech-dispatcher/
okularrc
itch/
gops/
desmume/
citron/
mgba/
geany/
Typora/
eden/
