* {
    font-family: Hack, Symbols Nerd Font;
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 0.7s;
}

window {
    background-color: rgba(17, 17, 27, 0.5);
    /* border-radius: 10px; */
}

button {
    background-color: rgba(17, 17, 27, 0.75);
    border-style: solid;
    /* border-width: 2px; */
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

button:active,
button:hover {
    background-color: rgba(205, 214, 244, 0.75);
}

button:focus {
    background-color: rgba(205, 214, 244, 0.75);
}

#lock {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#lock:hover {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/lock-hover.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    color: rgba(17, 17, 27, 0.75);
}

#logout {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#logout:hover {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/logout-hover.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    color: rgba(17, 17, 27, 0.75);
}

#suspend {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/sleep.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#suspend:hover {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/sleep-hover.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    color: rgba(17, 17, 27, 0.75);
}

#shutdown {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/power.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#shutdown:hover {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/power-hover.png"), url("/usr/local/share/wlogout/icons/shutdown.png")); 
    color: rgba(17, 17, 27, 0.75);
}

#reboot {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/restart.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#reboot:hover {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/restart-hover.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    color: rgba(17, 17, 27, 0.75);
}

#exit {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/restart.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    background-color: rgba(17, 17, 27, 0.75);

}

#exit:hover {
    background-image: image(url("/home/shfwnz/.local/share/hyprdots/wlogout/assets/restart-hover.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    color: rgba(17, 17, 27, 0.75);
    background-color: rgba(205, 214, 244, 0.75);
}
